{% load tags %}
{% load i18n %}
{% url myway.views.index as index %}
{% url myway.views.about as about %}

<div id="hlogo">
	<a href="#">{% trans "My Way" %}</a>
</div>
<div id="hmenu">
	<div class="nav">
		<ul>
			<li {% active request index %}><a href="/index/">{% trans "Home" %}</a> </li>
			<li><a href='#'>{% trans "Plan"%}</a> </li>
			<li><a href='#'>{% trans "Blog"%} </a> </li>
			<li {% active request about %}><a href="/about/">{% trans "About" %}</a> </li>
		</ul>
	</div>
	<div class="topsearch">
		<input type="text" class="text" value="Where do you want to go?" onfocus="this.value='';"/>
		<span>
		<input type="image" class="search-icon" height="18"/>
		</span>
	</div>
</div>