<html>
<head>
<title>{% block html_title %}Todo{% endblock %}</title>
{% block extrahead %}
<!-- CSS and JavaScript for django-todo -->
<link rel="stylesheet" type="text/css" href="/media/todo/css/styles.css" />   

<script src="/static/jquery/jquery-1.5.min.js" type="text/javascript"></script>
<script src="/static/jquery/ui-1.8.14/js/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>
<script src="/media/todo/js/jquery.tablednd_0_5.js" type="text/javascript"></script>
<link type="text/css" href="/static/jquery/ui-1.8.14/css/south-street/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />

<script type="text/javascript" charset="utf-8">
    // thedate.x comes from the edit_task view. If this is a new entry, 
    // thedate won't be present and datepicker will fall back on the default (today).
    $(document).ready(function(){
        $('#id_due_date').datepicker({defaultDate: new Date({{thedate.year}}, {{thedate.month}} - 1, {{thedate.day}}),});
     });

</script>
{% endblock extrahead %}

</head>

<body>
<div class="wrapper">
{% block content %}{% endblock %}
</div>
</body>
