<html>
	<head>
		<script src="/static/js/jquery-1.5.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            var inputElem = "<p><input type='file' name='fakename'/><a href='#' id='remove-file'>x</a></p>"
            $(document).ready(function(){
                count = 0;
                $("#add-file").click(function(){
                    var div = $('#input-container')
                    var anotherInput = inputElem.replace('fakename','file'+count)
                    div.prepend(anotherInput)
                    $("#remove-file").click(function(event){
                        var clicked = $(this);
                        clicked.parent().remove();
                    });
                    count++;
                });

            });
        </script>
		<title>Share File Upload</title>
	</head>
	<body>
	
	<form enctype="multipart/form-data" action="." method="post" id="share-form"> 
        <div id='input-container'>
            <p><a href="#" id='add-file'>add another</a></p>
            <p><input type="submit" value="Submit"/></p>
        </div>
	</form>
    <div>
    {% for filename,isdir in file_list %}
    <p><a href='{{filename}}'>{{ filename }}</a></p>
    {% endfor %}
    </div>
	
	</body>
</html>
