{% load uploadify_tags %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/jquery/DataTables-1.8.0/media/css/share_page.css">
        <link rel="stylesheet" type="text/css" href="/static/jquery/DataTables-1.8.0/examples/examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css">
        <!--<link rel="stylesheet" type="text/css" href="/static/jquery/jquery-ui/custom-theme/jquery-ui-1.8.14.custom.css">-->
        <link rel="stylesheet" type="text/css" href="/static/jquery/DataTables-1.8.0/media/css/demo_table_jui.css">


        <!--<link rel="stylesheet" type="text/css" href="/static/jquery/jquery-ui/css/hot-sneaks/jquery-ui.css">-->

		<script type="text/javascript" src="/static/jquery/jquery-1.5.min.js" ></script>
		<script type="text/javascript" src="/static/jquery/DataTables-1.8.0/media/js/jquery.dataTables.min.js" ></script>
		<script type="text/javascript" src="/static/jquery/DataTables-1.8.0/media/js/dataTables.fnReloadAjax.js" ></script>
        <script type="text/javascript">
            var oTable;

            function updateFileList(){
                //$('#fileListBody').fnClearTable( 0 );
                //$('#fileListBody').fnDraw();

                //$('#fileListBody').remove();
                //$('#fileList').append('<tbody id="fileListBody"><tbody>');
                //$('#fileList').replaceWith('<div id="fileList"></div>');
                var url = window.location.href.replace('http://','');
                var relative_path = url.split('/');
                relative_path.shift();
                relative_path = relative_path.join('/');//.splice(1,0);
                
                /*
                $.ajax({
                    type: "GET",
                    url: "/json/files/in/"+relative_path+'/',
                    dataType: "json",
                success: function(files) {
                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];
                        var href = '/'+ relative_path + file['name'];
                        var fileTd = "<td><a href='" + href + "'>" + file['name']+ "</a></td>";
                        var sizeTd = "<td>"+file['size']+"</td>";
                        var creationTimeTd = "<td>"+file['creation_time']+"</td>";
                        
                        var line = "<tr class='odd gradeA'>"+ fileTd + sizeTd + creationTimeTd +"</tr>";
                        $("#fileListBody").append(line);
                    }
                    }
                    });
                */

                if (typeof oTable == 'undefined'){
                oTable = $('#fileList').dataTable({
                        'bProcessing':true,
                        'sAjaxSource':'/json/aaData/files/in/'+ relative_path,
                        "bJQueryUI": true,
                        "sPaginationType": "full_numbers",
                        'bSortClasses':false,
                        'aaSorting': [[1,'asc']],
                        'aoColumns':[
                            {'sWidth':'45%','sClass':'sorting_1'},//,'sClass':'sorting_1'},
                            {'sWidth':'20%','sClass':'center'},
                            {'sWidth':'35%','sClass':'center'}
                            ],
                        'asStripClasses':['gradeA odd','gradeA even'],
                        'oLanguage': {
                            'sLengthMenu':'每页显示_MENU_个文件',
                            'sZeroRecords':'暂无文件',
                            'sInfo':'_START_-_END_ 共_TOTAL_个',
                            'sInfoEmpty':'暂无文件',
                            'sInfoFiltered':"共_MAX_个文件"
                            }
                    });
                } else {
                    oTable.fnReloadAjax();
                }

/*
                $('td', oTable.fnGetNodes()).hover( function() {
                    var iCol = $('td').index(this) % 5;
                    var nTrs = oTable.fnGetNodes();
                    $('td:nth-child('+(iCol+1)+')', nTrs).addClass( 'hld' );
                    }, function() {
                    $('td.hld', oTable.fnGetNodes()).removeClass('hld');
                });
                */
            }
            $(document).ready(function(){
                updateFileList();
            } );
        </script>
    </head>
    <div id="fileDataTable">

    <div id='container'>
        {% multi_file_upload 'complete_url' upload_path %}
        <hr style="border:dashed;border-width:1px 0 0 0;" color="#AFAFAF"/>
        <div id="fileTable">	
    
        <div id="status-message" class="status"></div>
        <style type="text/css" rel="stylesheet">
            a{
                color:#4E4E4E;
                text-decoration:underline;
            }
        </style>
        <table id="fileList" cellpadding="0" cellspacing="0" border="0" class="display">
            <thead>
                <tr>
                    <th>文件名</th>
                    <th>文件大小</th>
                    <th>上传时间</th>
                </tr>
            </thead>
            <tbody id="fileListBody">
            </tbody>
        </table>
        </div>
    </div>
    </div>
	</body>
</html>
