<html>
	<head>
		<script src="/static/js/jquery-1.5.min.js" type="text/javascript"></script>
		<script src="/static/js/uploader/jquery.flash.min.js" type="text/javascript"></script>
		<link type="text/css" rel="stylesheet" href="/static/css/uploader/unrelated.css" />
		
		<script src="/static/js/uploader/agile-uploader-3.0.js" type="text/javascript"></script>
		<link type="text/css" rel="stylesheet" href="/static/css/uploader/agile-uploader.css" />
		
		<script src="/static/js/uploadphoto/uploadphoto.js" type="text/javascript"></script>
		
		<title>Upload Console</title>
	</head>
	<body>
	
	<form id="multipleDemo" enctype="multipart/form-data" action="." method="post"> {% csrf_token %}
	
	<label for="province">Province</label>
	<select id="province" name="province" onchange="_uploadphoto.selProvince(this.value);">
		{% for pname,pid in province_list %}
		<option value="{{ pid }}">{{ pname }}</option>
		{% endfor %}
	</select>
	<label for="city">City</label>
	<select id="city" name="city" onchange="_uploadphoto.selCity(this.value);">
	</select>
	<label for="zone">Zone</label>
	<select id="zone" name="zone">
	</select>
	<br />
	
	<label for="title">Spot</label>
	<input id="title" type="input" name="title" onpropertychange="" oninput=""/>
	<br style="clear: left;" />
	
	<div id="multiple"></div>
	
	<br style="clear: left;" /><br />
	
	</form>
	<a style="cursor:pointer;" onClick="document.getElementById('agileUploaderSWF').submit();">Submit</a>
	
	<script type="text/javascript">
		$('#multiple').agileUploader({
			formId: 'multipleDemo',
			flashVars: {
				firebug: false,
				form_action: '.',
				file_limit: 3
			}
		});	
	</script>
	
	</body>
</html>
